/* front-text top font style*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/* front-text center font style */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sanchez:ital@0;1&display=swap');
/* front-text bottom font style */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@800&family=Sanchez:ital@0;1&display=swap');
/* price font style */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    /* background-color: linear-gradient(90deg, rgba(#0097b2), rgba(#7ed957)); */
    
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: auto;
    /* background-color: violet; */

    /* For browsers that do not support gradients */
    background-color: #0097b2; 
    background-image: linear-gradient(to right, #0097b2 , #7ed957);

}



/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    
    background-color: #0097b2; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #0097b2 , #7ed957);
    padding: 30px 30px ;
    margin: 0;
    height: 75px;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid white;

    i {
        cursor: pointer;
    }
    img {
        cursor: pointer;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;

    /* text style */
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav ul li .nav-link {
    text-decoration: none;
    color: #ffffff;
}

nav img i {
    cursor: pointer;
}



/* HOME */
.home-container {
    height: 560px;
    width: 100%;
    margin: 0;
    background-color: violet;
}


.home-container img {
    float: right;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.home-container .front-text {
    float: left;
    color: #ffffff;
    padding: 100px 190px 0px 190px;  /* top-right-bottom-left */
    

    .top {
        /* google font */
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 90px;
    }
    .center {
        font-family: "Sanchez", serif;
        font-weight: 400;
        font-style: normal;
    }
    .bottom {
        margin-top: 90px;
        
        /* google font */
        font-family: "Arimo", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}



/* PRODUCT */
#product {
    background-color: #ffffff;
    height: 1200px;
    width: 100%;

    /* border:2px solid blue; */

    .menu-container {
        background-color: #d99c9c;
        margin: auto;   /* puts self in the middle of section tag */
        height: 100%;
        width: 72%;
        /* border:2px solid yellow; */
    }

    .menu-header {
        background-color: #abec8f;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        color: #0097b2;
    }
    
    /* menu box container */
    .menu-list {
        background-color: aqua;
        display: grid;
        grid-template-columns: auto auto auto;
        /* padding: 50px; */
        
        gap: 90px 110px;  /* row, columns */
        margin: auto;

        .price {
            color: #ffffff;
            padding: 25px 25px 0px 25px;  /* top-right-bottom-left */

            /* google font */
            font-family: "Fredoka", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }

        .menu-content {
            /* display: inline-block;
            align-items: center; */

            margin-top: -10px;
            display: flex;
            /* display: grid; */
            justify-content: center;
            align-items: center;

            /* position: relative; */

            .img {
                /* padding: 0;
                margin: auto; */

                /* grid-area: 1/1; */
                /* flex-wrap: wrap; */

                /* position: absolute; */
                /* z-index: 1; */
            }

            button {
                margin-top: 10px;
                height: 30px;
                width: 120px;

            }
        }

        .name {
            color: #ffffff;
            margin: 0;
            padding: 0;
            float: right;

            /* grid-area: 1/1; */
            margin: 40px -20px -30px -30px;  /* top-right-bottom-left */

            position: relative;
            /* bottom: 0; */
            /* right: 0; */
            /* margin-right: -50px; */
            
            transform-origin: 0 0;
            transform: rotate(270deg);

            /* z-index: 2; */

            /* google font */
            font-family: "Arimo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    }

    /* drinks */
    .menu-item {
        background-color: #33B28D;
        height: 300px;
        width: 100%;
        /* margin: 0;
        padding: 0; */

        /* display: flex;
        align-items: center; */
     
        button {
            /* margin: auto; */
            margin-left: 25px;
            height: 40px;
            width: 80%;

            color: #ffffff;
            background-color: transparent;
            border: 2px solid #ffffff;
            border-radius: 20px;
        }
    }
    /* .menu-container {
        background-color: #d99c9c;
        height: 600px;
        width: 80%;
        border:2px solid yellow;
    
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;

        display: flex;
        align-items: center;
    
        .menu-item {
            background-color: greenyellow;
            border: 1px solid red;
            padding: 20px;
            font-size: 30px;
            text-align: center;
    
            margin-top: 20px;
        }
    } */
}

